
#first-slider .main-container {
  padding: 0;
}
#first-slider .carousel-indicators {
  bottom: 0;
}
#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
  background-image: none;
}
#first-slider .carousel .item {
  min-height: 425px;
  height: 100%;
  width:100%;
}

.carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#first-slider .carousel-control {
    width: 6%;
        text-shadow: none;
}
#first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.8);
  border:none;
}
#first-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: #fff;
  border:none;
}
.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-angle-left{
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control .fa-angle-right{
    right: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}
.item .container img{
  z-index: 99;
  width: 24em;
  height: 25em;
  border-radius: 5%;
  -webkit-box-shadow: 0 0 70px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 70px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width:500px) {
  .item .container img{
  width: 70%;
  height: 70%;
  }
}
.item .blur{
  height: 425px;
  width: 100%;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(30px);
}

.item .b1{
  background-image: url(../images/cricket.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
    background-attachment: fixed;
}

.item .b2{
  background-image: url(../images/badminton.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
    background-attachment: fixed;
}

.item .b3{
  background-image: url(../images/gcied.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
    background-attachment: fixed;
}

.item .b4{
  background-image: url(../images/nontech.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
    background-attachment: fixed;
}

.item .b5{
  background-image: url(../images/tech.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
    background-attachment: fixed;
}

.item .b6{
  background-image: url(../images/motorcar.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
    background-attachment: fixed;
}
